@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Arimo|Open+Sans|Roboto');


body {
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}
.hp-text-center {
	text-align: center;
}
.hp-display-none {
	display: none;
}
.empty-height {
	height: 500px;
}
header {
	min-height: 260px;
	height: auto;
}
.header-top {
	min-height: 85px;
	height: auto;
	background-color: #dbdbdb;
	padding-bottom: 15px;
	display: none;
}
.header-top-advertising, .header-middle-advertising, .footer-advertising {
	width: 100%;
	background-color: #eee;
	text-align: center;
	color: #c1c1c1;
	font-size: 20px;
}
.header-top-advertising, .footer-advertising {
	height: 55px;
	margin-top: 15px;
	line-height: 55px;
}
.header-middle {
	min-height: 97px;
	height: auto;
}
.header-middle-advertising {
	height: 45px;
	margin-top: 25px;
	margin-bottom: 40px;
	line-height: 45px;
}
.header-logo {
	width: 100%;
	height: 60px;
	background-image: url('../img/logo.svg');
	background-repeat: no-repeat;
	background-size: 250px;
	background-position: center 12px;
}
.header-text {
	height: 35px;
	line-height: 35px;
	font-family: 'Fira Sans', sans-serif;
	color: #2d709d;
	letter-spacing: 5px;
}
.header-search {
	display: inline-block;
	width: calc(100% - 140px);
	height: 30px;
	background-color: #eee;
	margin: 30px 0px;
}
.header-search-input {
	outline: none;
	border: 1px solid #2d709d;
	height: 30px;
	padding: 10px;
	width: calc(100% - 30px);
	transition: .3s;
}
.header-search-input:focus {
	border: 1px solid #194365;
}
.header-search-submit-button {
	display: inline-block;
	outline: none;
	border: none;
	background-color: #2d709d;
	height: 30px;
	width: 30px;
	float: right;
	color: #fff;
	transition: .3s;
}
.header-search-submit-button:hover {
	background-color: #194365;
}
.header-social-links-wrap {
	display: inline-block;
	width: 120px;
	height: 30px;
	float: right;
	margin-top: 30px;
}
.header-social-links {
	padding: 0;
	margin: 0;
}
.header-social-link {
	display: inline-block;
	list-style-type: none;
	width: 30px;
	height: 30px;
	border: 1px solid #2d709d;
	float: right;
	margin-left: 10px;
	color: #2d709d;
	transition: .3s;
}
.header-social-link:hover {
	border: 1px solid #194365;
	color: #194365;
}
.header-social-link a {
	display: inline-block;
	text-decoration: none;
	width: 28px;
	height: 28px;
	text-align: center;
	line-height: 28px;
}
.header-divider {
	width: 100%;
	height: 2px;
	background-color: #a22118;
}
.navbar-default {
	border: none;
	background-color: #fff;
	margin-bottom: 0;
}
.container-fluid {
	padding: 0px 0px;
}
.navbar-default .navbar-brand {
	float: right;
	color: #2d709d;
	padding-right: 0px;
	display: block;
}
.navbar-default .navbar-brand:hover {
	color: #2d709d;	
}
.navbar .navbar-collapse {
	padding: 0px 0px;
	border: none;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
}
.navbar-toggle {
	border: none;
	background-color: #fff;
}
.navbar-default .navbar-toggle:hover {
	background-color: #fff;
}
.navbar-default .navbar-toggle:focus {
	background-color: #fff;
}
.navbar-toggle.collapsed .icon-bar {
	background-color: #2d709d;
}
.nav.navbar-nav {
    width: 50%;
    float: left;
    margin: 0px;
   	text-align: center;
}
.nav.navbar-nav.navigation-top>li>a {
	padding: 10px 10px;
	color: #969696;
	transition: .3s;
}
.nav.navbar-nav.navigation-top>li>a:hover {
	color: #5a5a5a;
}
.nav.navbar-nav.navigation-bottom {
	background-color: #2d709d;
}
.nav.navbar-nav.navigation-bottom>li>a {
	color: #fff;
	padding: 10px 15px;
	transition: .2s;
}
.nav.navbar-nav.navigation-bottom>li>a:hover {
	background-color: #194365;
}
.example img {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}
footer {
	background-color: #194365;
	min-height: 410px;
	height: auto;
}
.footer-top {
	min-height: 85px;
	height: auto;
	background-color: #dbdbdb;
	padding-bottom: 15px;
}
.footer-middle {
	min-height: 285px;
	height: auto;
}
.footer-site-map ul {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.footer-site-map-link a {
	display: inline-block;
	height: 25px;
	color: #fff;
	font-size: 14px;
}
.footer-logo {
	color: #fff;
}
.footer-logo-top {
	height: 60px;
	font-family: 'Georgia';
	font-size: 56px;
}
.footer-logo-top span {
	font-family: 'Arimo';
	font-size: 40px;
}
.footer-logo-bottom {
	height: 35px;
	line-height: 35px;
	font-family: 'Fira Sans', sans-serif;
	letter-spacing: 5px;
}
.footer-facebook-link-wrap {
	padding: 20px 0px;
	padding-bottom: 0px;
	padding-top: 20px;
	width: 100%;
	display: inline-block;
}
.footer-facebook-link {
	max-width: 360px;
	width: 100%;
	height: auto;
	background-color: #eee;
}
.footer-facebook-link img {
	width: 100%;
}
.footer-desktop-error-message {
	display: none;
	margin-top: 60px;
}
.footer-desktop-error-message, .footer-mobile-error-message {
	color: #fff;
	padding: 30px 0px;
}
.footer-desktop-error-message p, .footer-mobile-error-message p {
	margin: 0;
}
.footer-desktop-error-message-shortcut, .footer-mobile-error-message-shortcut {
	margin-top: 10px;
}
.footer-desktop-error-message span, .footer-mobile-error-message span {
	display: inline-block;
	background-color: #0a293d;
	width: 62px;
	padding: 2px 0px;
	font-family: 'Fira Sans', sans-serif;
}
.footer-mobile-error-message {
	display: block;
}
.footer-bottom {
	background-color: #262626;
}
.footer-copyright {
	font-family: 'Open Sans';
	min-height: 40px;
	height: auto;
	color: #fff;
	font-size: 10px;
	padding: 13px 0px;
}

@media (min-width: 768px) {
	.hp-display-none {
		display: block;
	}
	.header-top {
		display: block;
	}
	.header-middle-advertising {
		margin-bottom: 25px;
	}
	.navbar-default .navbar-brand {
		display: none;
	}
	.nav.navbar-nav {
	    width: 100%;
	}
	.nav.navbar-nav>li {
		display: inline-block;
		float: none;
	}
	.nav.navbar-nav.navigation-top {
		font-size: 18px;
	}
	.nav.navbar-nav.navigation-top>li>a {
		padding: 15px 10px;
	}
	.nav.navbar-nav.navigation-bottom {
		font-size: 16px;
	}
	.footer-middle {
		padding: 40px 0px;
	}
	.footer-logo {
		padding-top: 15px;
	}
	.footer-facebook-link-wrap {
		padding: 0px;
		padding-top: 25px;
	}
	.footer-facebook-link {
		max-width: 100%;
		float: right;
	}
	.footer-mobile-error-message {
		display: none;
	}
}
@media (min-width: 992px) {
	.footer-logo {
		padding-top: 0px;
	}
	.footer-facebook-link-wrap {
		padding: 0px;
	}
}