@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Open+Sans|Roboto');


body {
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}
.hp-text-center {
	text-align: center;
}
.hp-display-none {
	display: none;
}

.empty-height {
	height: 500px;
}

header {
	min-height: 260px;
	height: auto;
}
.header-top {
	min-height: 85px;
	height: auto;
	background-color: #dbdbdb;
	padding-bottom: 15px;
	display: none;
}
.header-top-advertising {
	height: 55px;
	width: 100%;
	background-color: #eee;
	margin-top: 15px;
	text-align: center;
	line-height: 55px;
	color: #c1c1c1;
	font-size: 20px;
}
.header-middle {
	min-height: 97px;
	height: auto;

}
.header-middle-advertising {
	height: 45px;
	width: 100%;
	background-color: #eee;
	margin-top: 25px;
	text-align: center;
	line-height: 45px;
	color: #c1c1c1;
	font-size: 20px;
}
.header-logo {
	width: 100%;
	height: 60px;
	background-image: url('../img/Ресурс 1.svg');
	background-repeat: no-repeat;
	background-size: 250px;
	background-position: center 12px;

}
.header-text {
	height: 35px;
	line-height: 35px;
	font-family: 'Fira Sans', sans-serif;
	color: #2d709d;
	letter-spacing: 5px;
}
.header-search {
	display: inline-block;
	width: calc(100% - 140px);
	height: 30px;
	background-color: #eee;
	margin: 30px 0px;
}
.header-search-input {
	outline: none;
	border: 1px solid #2d709d;
	height: 30px;
	padding: 10px;
	width: calc(100% - 30px);
	transition: .3s;
}
.header-search-input:focus {
	border: 1px solid #194365;
}
.header-search-submit-button {
	display: inline-block;
	outline: none;
	border: none;
	background-color: #2d709d;
	height: 30px;
	width: 30px;
	float: right;
	color: #fff;
	transition: .3s;
}
.header-search-submit-button:hover {
	background-color: #194365;
}
.header-social-links-wrap {
	display: inline-block;
	width: 120px;
	height: 30px;
	float: right;
	margin-top: 30px;
}
.header-social-links {
	padding: 0;
	margin: 0;
}
.header-social-link {
	display: inline-block;
	list-style-type: none;
	width: 30px;
	height: 30px;
	border: 1px solid #2d709d;
	float: right;
	margin-left: 10px;
	color: #2d709d;
	transition: .3s;
}
.header-social-link:hover {
	border: 1px solid #194365;
	color: #194365;
}
.header-social-link a {
	display: inline-block;
	text-decoration: none;
	width: 28px;
	height: 28px;
	text-align: center;
	line-height: 28px;
}
.header-divider {
	width: 100%;
	height: 2px;
	background-color: #a22118;
}
.header-navigation {

}
.navbar-default {
	border: none;
	background-color: #fff;
	margin-bottom: 0;
}
.nav.navbar-nav>li {
	
}
.container-fluid {
	padding: 0px 0px;
}
.navbar-default .navbar-header {
	border-bottom: 1px solid #dbdbdb;
}
.navbar-default .navbar-brand {
	float: right;
	color: #2d709d;
	padding-right: 0px;
	display: block;
}
.navbar .navbar-collapse {
	padding: 0px 0px;
	border: none;
	border-bottom: 1px solid #dbdbdb;
}
.navbar-toggle {
	border: none;
	background-color: #fff;
}
.navbar-default .navbar-toggle:hover {
	background-color: #fff;
}
.navbar-default .navbar-toggle:focus {
	background-color: #fff;
}
.navbar-toggle.collapsed .icon-bar {
	background-color: #2d709d;
}
.nav.navbar-nav {
    width: 50%;
    float: left;
    margin: 0px;
   	text-align: center;
}
.nav.navbar-nav.navigation-top {
	
}
.nav.navbar-nav.navigation-top>li>a {
	padding: 10px 15px;
	color: #969696;
	transition: .3s;
}
.nav.navbar-nav.navigation-top>li>a:hover {
	color: #5a5a5a;
}
.nav.navbar-nav.navigation-bottom {
	background-color: #2d709d;
}
.nav.navbar-nav.navigation-bottom>li>a {
	color: #fff;
	padding: 10px 15px;
	transition: .2s;
}
.nav.navbar-nav.navigation-bottom>li>a:hover {
	background-color: #194365;
}
.example img {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}
footer {
	background-color: #194365;
	height: 400px;
}

@media (min-width: 768px) {
	.header-top {
		display: block;
	}
	.navbar-default .navbar-brand {
		display: none;
	}
	.nav.navbar-nav {
	    width: 100%;
	}
	.nav.navbar-nav>li {
		display: inline-block;
		float: none;
	}
	.nav.navbar-nav.navigation-top {
		font-size: 18px;
	}
	.nav.navbar-nav.navigation-top>li>a {
		padding: 15px 10px;
	}
	.nav.navbar-nav.navigation-bottom {
		font-size: 16px;
	}
}
